*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.main{
  max-width: 1024px;
  /* text-align: center; */
}
nav {
  background-color: black;
}
ul {
  display: flex;
  line-height: 40px;

}

li {
  flex-grow: 1;
  list-style: none;
  text-align: center;
}
a{ 
  display: block;
  padding: 5px 5px;
  color: aliceblue;
  text-decoration: none;
  border: solid 1px aliceblue;
  text-transform: uppercase;
  font-size: 22px;
  transition: 0.5s;
  
}
.active{
  /* color: black; */
  background-color: gray;
  border: solid 1.5px yellow;
  /* font-size: 24px; */
  font-weight: bold;
}

section {
  padding-top: 5%;
}