.main{
    display: flex;
    justify-content: space-around
}
.adress{
    display: inline-block;
    margin-right: 100px;
}
.links a {
    margin-left: 25px;
    text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
