.main{
    display: flex;
    justify-content: space-around;
    color: grey;
    font-weight: 500;
}
.adress{
    display: inline-block;
    margin-right: 90px;
}
.links a {
    margin-left: 25px;
    text-decoration: none;
    color: rgba(0, 0, 254, 0.932);
}
a:link {
    color: rgba(0, 0, 254, 0.932);
  }

.fa {
    padding: 22px;
    font-size: 32px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.6;
  }
  
