nav {
    padding: 0 30px 30px 0;
}
nav.main{
    padding: 0;
}
ul{
    list-style: none;
    width: 80%;
}
nav.main li{
    display: inline-block;
    width: 20%;
}
nav.main a{
    display: inline-block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 650;
    padding: 10px;
    transition: 0.25s;
}
nav.main a.active {
    
    color: white;
}